<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= process.env.APP_NAME %> - <%= title %>
    </title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="/js/main.js" defer></script>
    <script src="https://kit.fontawesome.com/bc0bae8e00.js" crossorigin="anonymous"></script>
</head>

<body class="flex flex-col min-h-screen font-serif font-montserrat">
    <header class="p-2 border-b-2 sticky top-0 bg-white font-Lora">
        <div class="container m-auto">
            <a href="/" class="text-4xl text-primary-600">
                <%= process.env.APP_NAME %>
            </a>
            <nav class="mt-2 pt-2 border-t">
                <ul class="flex">
                    <li>
                        <a class="nav-link border-l-transparent" href="/">
                            Home<i class="fa-solid fa-house"></i>
                        </a>
                    </li>
                    <% if (!session.user_id) { %>
                        <li class="ml-auto">
                            <a class="nav-link border-l-transparent" href="/login">
                                Login<i class="fa-solid fa-arrow-right-to-bracket"></i>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link btn" href="/signup">
                                Sign Up<i class="fa-solid fa-arrow-right-to-bracket"></i>
                            </a>
                        </li>
                    <% } else { %>
                        <li>
                            <a class="nav-link" href="/logout">
                                Logout<i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </a>
                        </li>
                        <li class="ml-auto">
                            <a class="nav-link border-l-transparent text-primary-700 font-bold" href="/profile">
                                <p class="capitalize"><%= session.first_name %> <%= session.last_name %> </p>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </header>
    <main class="flex-grow bg-gradient-to-b from-slate-100 to-slate-200">
        <div class="container m-auto p-2">